@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body{
    background-color: black;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 10px;
    display: flex;

    position: relative;

}

#videoAscii{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50%;
    background-color: rgba(248, 248, 248, 0.13);
    margin: 50px;
    padding: 20px;
    border-radius: 1em;
}